<!-- <mat-toolbar color="primary">
    <ng-container *ngIf="!isAdmin; else viewAdmin">
        <span>My APP</span>
        <span class="spacer"></span>
        <div>
            <a *ngIf="!isLogged; else viewLogout" mat-button [routerLink]="'/login'">Login</a>
            
            <a mat-button [routerLink]="''">Home</a>
            <a mat-button [routerLink]="'/admin'">Admin</a>
        </div>
    </ng-container>
</mat-toolbar>

<ng-template #viewAdmin>
    <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
</ng-template> -->

<nav class="navbar navbar-expand-lg bg-success py-3 sticky-top" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" [routerLink]="''"><img src="assets/img/logo/logo_transparent.png" alt="Logo de la aplicación" class="logo"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0 nav__enlaces">
                <li class="nav-item mt-1"><a class="nav-link text-truncate" [routerLink]="'/contact'">Contactos</a></li>
                <li class="nav-item mt-1"><a class="nav-link text-truncate" [routerLink]="'/usoPagina'">Uso de la Página</a></li>
                <li class="nav-item mt-1" *ngIf="isLogged"><a class="nav-link text-truncate" [routerLink]="'/reservar'">Reservar</a></li>
                <li class="nav-item mt-1" *ngIf="isLogged"><a class="nav-link text-truncate" [routerLink]="'/misReservas'">Mis Reservas</a></li>
                <li class="nav-item mt-1" *ngIf="isLogged"><a class="nav-link text-truncate" [routerLink]="'/misDatos'">Mis Datos</a></li>
                <li class="nav-item mt-1" *ngIf="isLogged && isAdmin"><a class="nav-link text-truncate" [routerLink]="'/admin'">Admin</a></li>
                <li class="nav-item"><a *ngIf="!isLogged; else viewLogout" class="btn btn-primary px-3 py-1 w-100 text-truncate" [routerLink]="'/login'">Login</a></li>
                <li class="nav-item"><a *ngIf="!isLogged" class="btn btn-primary px-3 py-1 w-100 ms-0 ms-lg-2 text-truncate" [routerLink]="'/register'">Registrarse</a></li>
            </ul>
        </div>
    </div>
</nav>

<ng-template #viewLogout>
    <!-- <a class="nav-link" (click)="onLogout()" href="">Cerrar sesión</a> -->
    <div class="dropdown">
        <button class="btn btn-primary btn-sm dropdown-toggle text-uppercase" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{authService.username}}
        </button>
        <ul class="dropdown-menu text-center">
            <li class="px-1"><a class="dropdown btn btn-primary btn-sm w-100" (click)="onLogout()">Cerrar sesión</a></li>
        </ul>
    </div>
</ng-template>
