.container-loader{
    position: absolute;
    border-radius: 10px;
    top: calc(50% - 350px);
    left: calc(50% - 350px);
    z-index: 9999;
    width: 700px;
    height: 700px;
    opacity: 0.9;
    /* width: 100vw;
    height: 100vh; */
}