<div>

    <!-- Uso de la página-->
    <section class="page-section pt-5" id="services">

        <div class="text-center m-auto w-50">
            <h1 class="mt-0 fs-2">USO DE LA PÁGINA</h1>
            <hr class="divider" />
            <p class="text-muted mb-5 fs-5">En study room app tendrás facilidades para reservar tu sitio en el centro de estudios,
                pudiendo cancelar cuando quieras tu reserva y contactando con nosotros para resolver cualquier problema
                que puedas tener!
            </p>
        </div>
        
        <div class="container-fluid p-0 w-75">
            <div class="row g-0">
                <div class="col-lg-6 col-sm-12">
                    <a class="services-box" title="Reservar">
                        <img class="w-100" src="assets/img/usoPagina/reservarAsiento.png" alt="Reservar" />
                        <div class="services-box-caption">
                            <div class="project-category text-white-50">Study Room App</div>
                            <div class="project-name">Reserva tu sitio para estudiar</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <a class="services-box" title="Cancelar">
                        <img class="w-100" src="assets/img/usoPagina/cancelarAsiento.png" alt="Cancelar" />
                        <div class="services-box-caption">
                            <div class="project-category text-white-50">Study Room App</div>
                            <div class="project-name">Cancele su sitio cuando quiera</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <a class="services-box" title="Foro">
                        <img class="w-100" src="assets/img/usoPagina/comunicados.png" alt="Foro" />
                        <div class="services-box-caption">
                            <div class="project-category text-white-50">Study Room App</div>
                            <div class="project-name">Vea nuestros comunicados</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <a class="services-box" title="Contacte">
                        <img class="w-100" src="assets/img/usoPagina/contactanos.png" alt="Contacte" />
                        <div class="services-box-caption">
                            <div class="project-category text-white-50">Study Room App</div>
                            <div class="project-name">Contacte con nosotros para cualquier incidencia</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </section>

</div>
