<div class="contact-form">

    <div *ngIf="errorLogin" class="alert alert-danger">{{errorMessage}}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>

    <!-- Contact-->
    <section id="contact">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h1 class="mt-0">CONTACTANOS!</h1>
                    <hr class="divider" />
                    <p class="text-muted mb-5">Tienes alguna duda, problema o consulta para mejorar nuestra web? Contactenos mediante nuestro
                        formulario de contactos o llamenos al número que aparece mas abajo!
                    </p>
                </div>
            </div>

            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <form [formGroup]="contactForm" (ngSubmit)="onContact()" id="contactForm" class="needs-validation" novalidate>
                        
                        <!-- Input Nombre -->
                        <div class="form-floating mb-3">
                            <input class="form-control" formControlName="nombreUsuario" id="name" type="text" placeholder=" " required />
                            <label for="name">Nombre completo</label>
                            <div class="invalid-feedback">Debes completar el nombre</div>
                        </div>

                        <!-- Input Email -->
                        <div class="form-floating mb-3">
                            <input class="form-control" formControlName="email" id="email" type="email" placeholder=" " required />
                            <label for="email">Email</label>
                            <div class="invalid-feedback">Debes completar el email</div>
                        </div>

                        <!-- Input Número de Teléfono -->
                        <div class="form-floating mb-3">
                            <input class="form-control" formControlName="telefono" id="phone" type="tel" placeholder=" "  required />
                            <label for="phone">Número de teléfono</label>
                            <div class="invalid-feedback">Debes completar el número de teléfono</div>
                        </div>

                        <!-- Input Mensaje -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" formControlName="mensaje" id="message" type="text" placeholder=" " style="height: 10rem" required></textarea>
                            <label for="message">Mensaje</label>
                            <div class="invalid-feedback">El mensaje es obligatorio</div>
                        </div>

                        <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Contactar</button></div>

                    </form>
                </div>
            </div>

            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-4 text-center mb-5 mb-lg-0">
                    <i class="bi-phone fs-2 mb-3 text-muted"></i>
                    <div>+34 685 705 629</div>
                </div>
            </div>

        </div>
    </section>

</div>