<div class="container-usuarios container">

    <app-loader [cargando]="cargando"></app-loader>

    <app-nav-admin></app-nav-admin>

    <div class="d-flex justify-content-between">
        <div class="w-50 d-flex gap-2 align-items-center">
            <div class="form-floating w-75">
                <input class="form-control" id="query" [(ngModel)]="query" type="text" placeholder=" " />
                <label for="query">Busqueda por email o username</label>
            </div>
            <button class="btn btn-primary btn-md" (click)="filtrar()">Filtrar</button>
            <button class="btn btn-primary btn-md" (click)="limpiarFiltro()">Limpiar</button>
        </div>
        <button class="align-self-start btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAdd"
            (click)="nuevo()"><i class="bi bi-plus-circle-fill text-dark fs-5 me-2"></i> Nuevo</button>
    </div>

    <table class="table-responsive w-100 mt-4">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">Roles</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let usuario of usuarios">
                <th scope="row">{{usuario.id}}</th>
                <td>{{usuario.email}}</td>
                <td>{{usuario.username}}</td>
                <td>
                    <div class="d-flex gap-3">
                        <span *ngFor="let rol of usuario.roles">
                            {{rol.rol | removeRol}}
                        </span>
                    </div>
                </td>
                <td class="py-2">
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalDelete" (click)="delete(usuario.id)"><i class="bi bi-trash-fill"></i></button>
                        <app-boton-edit [id]="usuario.id" (propagar)="editar($event)" data-bs-toggle="modal"
                            data-bs-target="#modalEdit" (click)="resetearFormEdit()"></app-boton-edit>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [length]="totalElementos"
        (page)="nextPage($event)"> </mat-paginator>
</div>

<!-- Modal delete-->
<div class="modal fade" id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Seguro que quieres borrar al usuario?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="onDelete()" data-bs-dismiss="modal"><i
                        class="bi bi-trash-fill"></i> Borrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL EDIT -->
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalAdd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="tituloModalEdit">Editar usuario <span
                        *ngIf="usuario">{{usuario.username}}</span></h1>
                <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm" [formGroup]="editForm" (ngSubmit)="onEdit()" class="needs-validation" novalidate>
                    <div class="form-floating mb-3">
                        <input class="form-control" formControlName="email" id="email" type="email" placeholder=" "
                            required />
                        <label for="email">Email</label>
                        <div class="invalid-feedback">Debes completar el email</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" formControlName="username" id="username" type="text" placeholder=" "
                            required />
                        <label for="username">Username</label>
                        <div class="invalid-feedback">Debes completar el username</div>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" formControlName="roles" multiple
                            aria-label="multiple select example" required>
                            <option *ngFor="let rol of roles" [value]="rol.id">{{rol.rol}}</option>
                        </select>
                        <div class="invalid-feedback">Debes añadir un rol</div>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" (click)="showPassword()" id="changePassword"
                            [checked]="changePassword">
                        <label for="changePassword" class="form-check-label">¿Cambiar contraseña?</label>
                    </div>

                    <div class="form-floating mb-3" *ngIf="changePassword">
                        <input class="form-control" formControlName="password" id="password" type="password"
                            placeholder=" " required minlength="8" />
                        <label for="password">Contraseña</label>
                        <div class="invalid-feedback">Debes completar el password</div>
                    </div>
                    <button class="btn btn-success float-end" id="submitButton" type="submit">Añadir</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL ADD -->
<div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="modalAdd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="tituloModalAdd">Añadir usuario</h1>
                <button type="button" class="btn-close" #closebutton2 data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addForm" [formGroup]="editForm" (ngSubmit)="addNuevo()" class="needs-validation" novalidate>
                    <div class="form-floating mb-3">
                        <input class="form-control" formControlName="email" id="email" type="email" placeholder=" "
                            required />
                        <label for="email">Email</label>
                        <div class="invalid-feedback">Debes completar el email</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" formControlName="username" id="username" type="text" placeholder=" "
                            required />
                        <label for="username">Username</label>
                        <div class="invalid-feedback">Debes completar el username</div>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" formControlName="roles" multiple
                            aria-label="multiple select example" required>
                            <option *ngFor="let rol of roles" [value]="rol.id">{{rol.rol}}</option>
                        </select>
                        <div class="invalid-feedback">Debes añadir un rol</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" formControlName="password" id="password" type="password"
                            placeholder=" " minlength="8" required />
                        <label for="password">Contraseña</label>
                        <div class="invalid-feedback">Debes completar el password</div>
                    </div>
                    <button class="btn btn-success float-end" id="submitButton" type="submit">Añadir</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>