<div class="container-reservas container py-5">
    <app-loader [cargando]="cargando"></app-loader>
    <div class="text-center m-auto w-50">
        <h1 class="mt-0">MIS RESERVAS</h1>
        <hr class="divider" />
        <p class="text-muted mb-5">En el apartado Mis Reservas encontrarás todas las reservas realizadas, con la opción de cancelarla cuando quieras!</p>
    </div>

    <div class="container">
        <div class="row gx-3 justify-content-center" *ngIf="reservas?.length > 0; else sinReservas">
            <div class="col col-12 col-md-6 col-lg-4" *ngFor="let reserva of reservas">
                <div class="card mb-3">
                    <div class="card-header">
                        <h2>Reserva</h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Fecha: {{reserva.reservaPK.fecha | date:"dd/MM/yy"}}</h5>
                        <div class="card-text">
                            <ul>
                                <li>Asiento: {{reserva.reservaPK.asiento.asiento}}</li>
                                <li>Hora: {{reserva.reservaPK.horario.hora}}</li>
                            </ul>
                        </div>
                        <a class="btn btn-danger float-end" 
                        #closebutton 
                        (click)="obtenerClaveReserva(reserva.reservaPK.asiento.id, reserva.reservaPK.horario.id, reserva.reservaPK.fecha)"
                        data-bs-toggle="modal" data-bs-target="#confirmarCancelar">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-3" *ngIf="reservas?.length > 0">
        <button (click)="cargarMas()" class="btn btn-primary btn-lg" *ngIf="!ultima">Cargar más</button>
    </div>

    <ng-template #sinReservas>
        <div class="text-center">
            <h1 class="text-center">No has realizado ninguna reserva</h1>
            <hr class="divider mb-5" />
            <img class="margin: auto; w-50" src = "assets/img/misReservas/sinReservas.svg" alt="Sin reservas"/>
        </div>
    </ng-template>

    <div class="modal fade" id="confirmarCancelar" tabindex="-1" aria-labelledby="confirmarCancelar" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">¿Estás seguro de que quieres cancelar la reserva?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="deleteReserva()">Confirmar</button>
            </div>
        </div>
        </div>
    </div>
</div>
