<div class="container-reservas container py-5">
        <div class="row gap-2 justify-content-center" *ngIf="reservas?.length > 0; else sinReservas">
            <div class="card col-12 col-md-6 col-lg-4 w-25" *ngFor="let reserva of reservas">
                <div class="card-header">
                    <h2>Reserva</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Fecha: {{reserva.reservaPK.fecha | date:"dd/MM/yy"}}</h5>
                    <div class="card-text">
                        <ul>
                            <li>Asiento: {{reserva.reservaPK.asiento.asiento}}</li>
                            <li>Hora: {{reserva.reservaPK.horario.hora}}</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-danger float-end">Cancelar</a>
                </div>
            </div>
        </div>
    <div class="text-center mt-3" *ngIf="reservas?.length > 0">
        <button (click)="cargarMas()" [disabled]="ultima" class="btn btn-primary btn-lg">Cargar más</button>
    </div>

    <ng-template #sinReservas>
        <h1 class="text-center">Sin reservas</h1>
    </ng-template>
</div>
