<div class="container-comunicados container py-5">
    
    <app-loader [cargando]="cargando"></app-loader>

    <div class="text-center m-auto w-50">
        <h1 class="mt-0 fs-2">COMUNICADOS</h1>
        <hr class="divider" />
        <p class="text-muted fs-5 mb-5">Aqui iremos publicando los comunicados relacionados con nuestra aplicación!</p>
    </div>

    <ul class="text-center row gx-5" *ngIf="mensajes.length; else sinMensajes">
        <li class="text-center col col-12 col-md-6 mb-5" *ngFor="let mensaje of mensajes">
            <a class="text-white">
                <h2 class="text-capitalize">{{mensaje.usuario.username}}</h2>
                <p class="text-break px-2 overflow-hidden">{{mensaje.mensaje}}</p>
                <small>{{mensaje.fecha | date:"dd/MM/yy"}}</small>
            </a>
        </li>
    </ul>

</div>

<ng-template #sinMensajes>
    <div class="text-center">
        <h1 class="text-center">No se ha publicado ningún comunicado</h1>
        <hr class="divider mb-5" />
        <img class="margin: auto; w-50" src = "assets/img/comunicados/sinComunicados.svg" alt="Sin reservas"/>
    </div>
</ng-template>