<div class="container-comunicados container py-5">
    <h1 class="text-center py-3" *ngIf="mensajes.length > 0">Comunicados</h1>
    <ul class="text-center row gx-5" *ngIf="mensajes.length; else sinMensajes">
        <li class="text-center col col-12 col-md-4 mb-5" *ngFor="let mensaje of mensajes">
            <a class="text-white">
                <h2 class="text-capitalize">{{mensaje.usuario.username}}</h2>
                <p class="text-break px-2 overflow-hidden">{{mensaje.mensaje}}</p>
                <small>{{mensaje.fecha | date:"dd/MM/yy"}}</small>
            </a>
        </li>
    </ul>
</div>

<ng-template #sinMensajes>
    <h1 class="text-center py-3">Sin comunicados</h1>
</ng-template>