<div class="misDatos">
    
    <app-loader [cargando]="cargando"></app-loader>

    <div class="text-center m-auto w-50">
        <h1 class="mt-0 fs-2">MIS DATOS PERSONALES</h1>
        <hr class="divider" />
        <p class="text-muted mb-5 fs-5">Aqui podrás encontrar tus datos personales y modificarlos si quisieras!</p>
    </div>

    <div class="container">
        
        <div class="row justify-content-center my-4">

            <div class="col col-12 col-md-6">
                <div class="form-floating m-auto">
                    <input class="form-control" id="email" type="text" placeholder=" " value="{{datos.email}}" readonly />
                    <label for="email">Email</label>
                </div>
            </div>

        </div>

        <div class="row justify-content-center my-4">

            <div class="col col-12 col-md-6">

                <div class="form-floating m-auto mt-3">
                    <input class="form-control" id="userName" type="text" placeholder=" " value="{{datos.username}}" readonly />
                    <label for="userName">Username</label>
                </div>

                <div class="d-grid m-auto mt-3">
                    <button class="btn btn-primary w-100 m-auto" id="cambiarUsername" type="submit" data-bs-toggle="modal" data-bs-target="#modalEditUsername" (click)="resetearForm('editUsername')">Cambiar Username</button>
                </div>

            </div>

        </div>

        <div class="row justify-content-center my-4">

            <div class="col col-12 col-md-6">
                <h1 class="text-center mt-3">Roles</h1>
                <div class="form-floating m-auto mt-3" *ngFor="let rol of roles">
                    <input class="form-control" id="rol" type="text" placeholder=" " value="{{rol}}" readonly />
                    <label for="rol">Rol</label>
                </div>
            </div>

        </div>

        <div class="row justify-content-center my-4">

            <div class="col col-12 col-md-6">
                <div class="d-grid m-auto mt-3">
                    <button class="btn btn-primary w-100 m-auto" id="cambiarPassword" type="submit" data-bs-toggle="modal" data-bs-target="#modalEditPassword" (click)="resetearForm('editPassword')">Cambiar Password</button>
                </div>
            </div>

        </div>

    </div>

    
    <!-- MODAL EDIT USERNAME -->
    <div class="modal fade" id="modalEditUsername" tabindex="-1" aria-labelledby="modalEditUsername" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="tituloModalEditUsername">Editar username</h1>
                    <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="editUsername" [formGroup]="formEditUsername" (ngSubmit)="onEditUsername()" class="needs-validation" novalidate>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="usernameActual" type="text" placeholder=" " value="{{datos.username}}" readonly />
                            <label for="usernameActual">Username actual</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" formControlName="usernameNuevo" id="usernameNuevo" type="text" placeholder=" " required />
                            <label for="usernameNuevo">Nuevo username</label>
                            <div class="invalid-feedback">Debes completar el username</div>
                        </div>
                        <button class="btn btn-success float-end" id="submitButton">Cambiar username</button>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>


    <!-- MODAL EDIT PASSWORD -->
    <div class="modal fade" id="modalEditPassword" tabindex="-1" aria-labelledby="modalEditPassword" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="tituloModalEditPassword">Editar Password</h1>
                    <button type="button" class="btn-close" #closebutton2 data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="editPassword" [formGroup]="formEditPassword" (ngSubmit)="onEditPassword()" class="needs-validation" novalidate>
                        <div class="form-floating mb-3">
                            <input class="form-control" formControlName="passwordNuevo" id="passwordNuevo" minlength="8" type="password" placeholder=" " required />
                            <label for="passwordNuevo">Nuevo password</label>
                            <div class="invalid-feedback">Debes completar el password correctamente</div>
                        </div>
                        <button class="btn btn-success float-end" id="submitButton">Cambiar password</button>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>


</div>