<!-- <div class="login-form">
    <div *ngIf="errorLogin" class="alert alert-danger">{{errorMessage | error }}</div>

    <mat-card>
        <mat-card-content>
            <h1>Login</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <mat-form-field class="full-width-input">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                </mat-form-field>
                <p class="text-danger" *ngIf="loginForm.get('email')?.errors?.['required']">Este campo es requerido</p>
                <p class="text-danger" *ngIf="loginForm.get('email')?.errors?.['email']">Introduzca un email valido</p>
    
                <mat-form-field class="full-width-input">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                <p class="text-danger" *ngIf="loginForm.get('password')?.errors?.['required']">Este campo es requerido</p>
                <p class="text-danger" *ngIf="loginForm.get('password')?.errors?.['minlength']">La contraseña debe tener como minimo 8 caracteres</p>
    
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div> -->


<!-- Login -->
<div class="login-form">

    <div *ngIf="errorLogin" class="alert alert-danger">{{errorMessage | error }}</div>

    <section id="login">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h1 class="mt-0">LOGIN!</h1>
                    <hr class="divider" />
                </div>
            </div>

            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" id="loginForm" class="needs-validation" novalidate>

                        <!-- Input Email -->
                        <div class="form-floating mb-3">
                            <input class="form-control" formControlName="email" id="email" type="email" placeholder=" " required />
                            <label for="email">Email</label>
                            <div class="invalid-feedback">Debes completar el email</div>
                        </div>

                        <!-- Input Password -->
                        <div class="form-floating mb-3">
                            <input class="form-control" formControlName="password" id="password" type="password" placeholder=" " minlength="8" required />
                            <label for="password">Password</label>
                            <div class="invalid-feedback">Debes completar el password</div>
                        </div>

                        <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Login</button></div>

                    </form>

                </div>
            </div>

        </div>
    </section>

</div>
