<div class="container-comunicados container">
    <app-nav-admin></app-nav-admin>
    <h1>Realizar comunicado</h1>
    <form [formGroup]="comunicadoForm" id="formularioComunicado" (ngSubmit)="send()" class="needs-validation" novalidate>
        <div class="form-floating mb-3">
            <textarea type="text" id="comunicado" class="form-control" style="height: 100px !important;" placeholder=" " formControlName="comunicado" required minlength="8" maxlength="254"></textarea>
            <label for="comunicado">Comunicado</label>
            <div class="invalid-feedback">El comunicado debe ser mínimo de 8 caracteres y máximo de 100</div>
        </div>
        <button class="btn btn-primary float-end w-25">Enviar</button>
    </form>
</div>
