<!-- Consultas realizadas por los clientes para responder -->
<div class="container-consultas container">

    <app-loader [cargando]="cargando"></app-loader>

    <app-nav-admin></app-nav-admin>

    <h1 *ngIf="consultas.length == 0">No hay consultas pendientes de responder</h1>
    <div class="card text-center mb-5" *ngFor="let consulta of consultas">
        <div class="card-header">
            {{consulta.mensaje}}
        </div>
        <div class="card-body">
            <h5 class="card-title">Usuario: {{consulta.nombreUsuario}} | Email: {{consulta.email}} | Teléfono: {{consulta.telefono}}</h5>
            <div class="card-text">
                <div class="form-floating my-3">
                    <textarea id="respuesta" placeholder=" " class="form-control" style="height: 100px" [id]="consulta.id"></textarea>
                    <label for="respuesta">Responder la consulta</label>
                </div>
            </div>
            <button class="btn btn-primary" (click)="responder(consulta.id)">Responder</button>
        </div>
        <div class="card-footer text-body-secondary">
            {{consulta.fecha | fecha}}
        </div>
    </div>
</div>
