<ul class="nav py-2 mb-3">
    <li class="nav-item">
        <a [routerLink]="'/admin/usuarios'" routerLinkActive="active" class="btn btn-outline-light nav-link">Usuarios</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="'/admin/consultas'" routerLinkActive="active" class="btn btn-outline-light nav-link">Consultas</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="'/admin/usuarios'" routerLinkActive="active" class="btn btn-outline-light nav-link">Usuarios</a>
    </li>
</ul>
